﻿@model NTTB_GELRE.Models.Inschrijvingen

@{
    ViewBag.Title = "Delete inschrijving";
}

<h2>Delete inschrijving</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Toernooi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Toernooinaam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Toernooinaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Begindatum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Begindatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Einddatum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Einddatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnkelDubbel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnkelDubbel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Licentie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Licentie)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Uitschrijven" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
