﻿@model IEnumerable<NTTB_GELRE.Models.Inschrijvingen>

@{
    ViewBag.Title = "Inschrijvingen";
}

<h2>Inschrijvingen</h2>


    
    <table class="table">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Toernooinaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Begindatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Einddatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnkelDubbel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licentie)
            </th>

        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Toernooinaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Begindatum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Einddatum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnkelDubbel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Licentie)
                </td>
                <td>
                    @if (item.EindInschrijving > DateTime.Today)
                    {
                        @Html.ActionLink("Uitschrijven", "DeleteInschrijving", new { @toernooiID = item.ToernooiID, @categorieID = item.CategorieID, @spelerID = item.SpelerID }, new { @class = "btn btn-default" })
                    }
                </td>


                <td>
                    @if (Session["Rol"].ToString() == "Administratie")
                    {
                        @Html.ActionLink("Edit", "EditInschrijving", new { @toernooiID = item.ToernooiID, @categorieID = item.CategorieID, @spelerID = item.SpelerID }, new { @class = "btn btn-default" })
                    }
                    
                </td>

            </tr>
        }



</table>
    

    <div>
        @Html.ActionLink("Terug", "Index", null, new { @class = "btn btn-default" })
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
