﻿@model IEnumerable<NTTB_GELRE.Models.Speler>

@{
    ViewBag.Title = "Speler Zoeken";
}

<h2>Speler Zoeken</h2>

@using (Html.BeginForm("ZoekSpeler", "Spelergegevens", FormMethod.Get))
{
    <table>
        <tr>
            <td>Bondsnummer: @Html.TextBox("bondsnummer")</td>
            <td>E-mail adres: @Html.TextBox("mailadres")</td>
        </tr>
        <tr>
            <td>Voornaam: @Html.TextBox("voornaam")</td>
            <td>Tussenvoegsel: @Html.TextBox("tussenvoegsel")</td>
            <td>Achternaam: @Html.TextBox("achternaam")</td>
            <td>Geboortedatum:@Html.Editor("geboortedatum", new { htmlAttributes = new { @class = "form-control datepicker" } })</td>
</tr>
    </table>
    <input type="submit" value="Zoek" />
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Bondsnummer")
        </th>
        <th>
            @Html.DisplayName("E-mail adres")
        </th>
        <th>
            @Html.DisplayName("Naam")
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bondsnummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mailadres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voornaam) 
                @Html.DisplayFor(modelItem => item.Tussenvoegsel) 
                @Html.DisplayFor(modelItem => item.Achternaam)
            </td>
            <td>
                @Html.ActionLink("Inschrijvingen", "Inschrijvingen", new { id = item.SpelerID }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

    <script>
    $(document).ready(function () {
    $(".datepicker").datepicker({
        dateFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true,
        yearRange: '-150:+0'
    });

    });
    </script>

}
