﻿
@using (Html.BeginForm("Create", "Toernooischema", FormMethod.Get))
{
    <div id="categorie">
        <div class="toernooiCatEnVorm">
            <h4>Kies een categorie</h4>
            <div class="group">
                <h5>Kies een leeftijd</h5>

                <input type="checkbox" name="leeftijd" value="Junioren">
                <label for="test">Junioren</label><br />
                <input type="checkbox" name="leeftijd" value="Senioren">
                <label for="test">Senioren</label><br />
            </div>  <div class="group">

                <h5>Kies een niveau</h5>
                <input type="checkbox" name="niveau" value="alleNiveaus">
                <label for="test">Alle niveaus</label><br />
                        <input type="checkbox" name="niveau" value="a">
                <label for="test">A</label><br />
            </div>  <div class="group">
                <h5>Kies EnkelDubbel</h5>
                <input type="checkbox" name="EnkelDubbel" value="EnkelDubbel">
                <label for="test">EnkelDubbel</label><br />
                        <input type="checkbox" name="EnkelDubbel" value="dubbel">
                <label for="test">Dubbel</label><br />
                        <input type="checkbox" name="EnkelDubbel" value="enkel">
                <label for="test">Enkel</label><br />
            </div>  <div class="group">
                <h5>Kies toervorm</h5>
                <select name="toernooivorm">
                    <option value="Knock-out">Knock-out</option>
                    <option value="Poule">Poule</option>
                    <option value="Zwisters">Zwisters</option>
                </select>
            </div>


            <div class="group">
                <div class="toernooiCatEnVormBtn">
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <a href="/Toernooi">
                                    <input type="button" value="Cancel" class="btn btn-default" />
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        }
