﻿@model NTTB_GELRE.Models.ToernooiAanmaken


<h2>Toernooi aanmaken</h2>

@using (Html.BeginForm("Create", "Toernooi", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>Vul gegevens in</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="toernooiCreate">
            <div class="toernooiCreateLeft">
                <div class="form-group">
                    @Html.LabelFor(model => model.Toernooinaam, "Toernooinaam", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Toernooinaam, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Toernooinaam, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Locatienaam, "Locatie", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Locatienaam", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Locatienaam, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Begindatum, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Begindatum, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        @Html.ValidationMessageFor(model => model.Begindatum, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Einddatum, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">


                        @Html.EditorFor(model => model.Einddatum, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        @Html.ValidationMessageFor(model => model.Einddatum, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Inschrijfdatum, "Uiterste Inschrijfdatum", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Inschrijfdatum, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        @Html.ValidationMessageFor(model => model.Inschrijfdatum, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.InschrijfgeldEnkel, "Inschrijfgeld Enkel", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.InschrijfgeldEnkel, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.InschrijfgeldEnkel, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.InschrijfgeldDubbel, "Inschrijfgeld Dubbel", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.InschrijfgeldDubbel, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.InschrijfgeldDubbel, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="toernooiCreateRight">
                <div class="form-group">
                    @Html.LabelFor(model => model.Organisatie, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Organisatie, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Organisatie, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Bondsvertegenwoordiger, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Bondsvertegenwoordiger, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Bondsvertegenwoordiger, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TellingID, "Puntentelling", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("TellingID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TellingID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.GewonnenGames, "Best-of", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("GewonnenGames", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.GewonnenGames, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Tijdlimiet, "Tijdlimiet Wedstrijden", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Tijdlimiet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tijdlimiet, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Tafels, "Aantal Tafels", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Tafels, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tafels, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>


            <div class="toernooiCreateMiddel"></div>

            <div class="toernooiCreateLeft">
         
                    <h4>Kies een leeftijdscategorie</h4>
                    <hr />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Categorie, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 ">
                            @Html.DropDownList("Categorie", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Categorie, "", new { @class = "text-danger" })
                       
                            
                        </div>

                        <div class="col-md-10" id="checkbox" >
                            @Html.Label("Met Niveaus")
                            @Html.CheckBoxFor(model => model.Niveaus, false)
                        </div>
                    </div>
         
            </div>
            <div class="toernooiCreateRight toernooiVormCreate">
                <h4>Kies een toernooivorm</h4>
                <hr />
                <div class="form-group">
                      @Html.DropDownList("toernooivormen", null, "", htmlAttributes: new { @class = "form-control" })                 
                </div>
                <div class="toernooiVormCreateP">
                    @Html.HiddenFor(model => model.Toernooivorm1)
                    @Html.HiddenFor(model => model.Toernooivorm2)
                    @Html.HiddenFor(model => model.Toernooivorm3)
                    @Html.HiddenFor(model => model.Toernooivorm4)
                    <p id="toernooivorm1text"></p><input type="button" id="button1" class="closeBtnToernooivorm" value="X" />
                    <p id="toernooivorm2text"></p><input type="button" id="button2" class="closeBtnToernooivorm" value="X" />
                    <p id="toernooivorm3text"></p><input type="button" id="button3" class="closeBtnToernooivorm" value="X" />
                    <p id="toernooivorm4text"></p><input type="button" id="button4" class="closeBtnToernooivorm" value="X" />
                </div>
            </div>
            <div class=""></div>

            <div class="toernooiCreateButton">
                <div class="form-inline">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <a href="/Toernooi">
                                <input type="button" value="Cancel" class="btn btn-default" />
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script src="~/Scripts/toernooi.js"></script>
}
