﻿@model NTTB_GELRE.Models.Toernooi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Toernooi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Toernooinaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toernooinaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Begindatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Begindatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Einddatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Einddatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inschrijfdatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inschrijfdatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InschrijfgeldEnkel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InschrijfgeldEnkel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InschrijfgeldDubbel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InschrijfgeldDubbel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organisatie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organisatie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bondsvertegenwoordiger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bondsvertegenwoordiger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GewonnenGames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GewonnenGames)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tijdlimiet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tijdlimiet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tafels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tafels)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Locatie.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Locatie.Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puntentelling.TellingID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puntentelling.TellingID)
        </dd>

    </dl>
</div>

<p>
    <button class=" btn btn-default">@Html.ActionLink("Terug", "Index", "Deelname")</button>
</p>
