﻿@model IEnumerable<NTTB_GELRE.Models.Toernooi>



<h2>Overzicht toernooien</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Toernooinaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Begindatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Einddatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inschrijfdatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organisatie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bondsvertegenwoordiger)
        </th>     
        <th>
            @Html.DisplayNameFor(model => model.Locatie.Adres)
        </th>
        
        <th></th><th></th><th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Toernooinaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Begindatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Einddatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inschrijfdatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organisatie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bondsvertegenwoordiger)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Locatie.Adres)
        </td>

        <td>
            <div class="btnWhiteText">
                <button class="btn btn-default"> @Html.ActionLink("Edit", "Edit", new { id = item.ToernooiID }) </button>
             
            </div>
            </td>
        <td>
            <div class="btnWhiteText">
                <button class="btn btn-primary"> @Html.ActionLink("Details", "Details", new { id = item.ToernooiID })  </button>
            </div>
        </td>
        <td>


            <div class="btnWhiteText">
                <button class="btn btn-danger">   @Html.ActionLink("Delete", "Delete", new { id = item.ToernooiID }) </button>
        
            </div>
        </td>
    </tr>
}

</table>
