﻿@model IEnumerable<NTTB_GELRE.Models.Gamescores>
<h4>GameScore</h4>
<table class="table GameScoreTabel">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Punten1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Punten2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game)
        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Punten1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Punten2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Game)
        </td>
        
    </tr>
}

</table>
