﻿@model NTTB_GELRE.Models.Wedstrijd
@using NTTB_GELRE.Models;

@{
    ViewBag.Title = "Score";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Gamescores> GameSets = ViewData["Game"] as List<Gamescores>;
}

<h2>Score</h2>

<div id="wedstijdenScores">
    <div class="wedstrijden">
        <h4>Wedstrijd</h4>
        <div class="wedstrijdenOpgave">
            @using (Html.BeginForm("Opgave", "GameScore", "Opgave"))
            {
                <input type="hidden" value=@Html.DisplayFor(model => model.WedstrijdID) name=@Html.DisplayNameFor(model => model.WedstrijdID) />
                <input type="hidden" value=@Html.DisplayFor(model => model.CategorieID) name=@Html.DisplayNameFor(model => model.CategorieID) />
                <input type="hidden" value=@Html.DisplayFor(model => model.SchemaDeel) name=@Html.DisplayNameFor(model => model.SchemaDeel) />
                <input type="hidden" value=@Html.DisplayFor(model => model.ToernooiID) name=@Html.DisplayNameFor(model => model.ToernooiID) />

                <label for="test">@Html.DisplayFor(model => model.Deelnemer.Speler.Voornaam) @Html.DisplayFor(model => model.Deelnemer.Speler.Bondsnummer) </label>
                <input type="radio" name="OpgaveSpeler" value=@Html.DisplayFor(model => model.Speler1)>
                <label for="test">@Html.DisplayFor(model => model.Deelnemer1.Speler.Voornaam)  @Html.DisplayFor(model => model.Deelnemer1.Speler.Bondsnummer)</label>
                <input type="radio" name="OpgaveSpeler" value=@Html.DisplayFor(model => model.Speler2)>
                <input class="btn-warning" type="submit" value="Opgave" />
            }
        </div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Winnaar)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Winnaar)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Opgave)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Opgave)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Kwalificatie1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kwalificatie1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Kwalificatie2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kwalificatie2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ronde)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ronde)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Begintijd)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Begintijd)
            </dd>

            <dt>
                Speler 1
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Deelnemer.Speler.Voornaam) @Html.DisplayFor(model => model.Deelnemer.Speler.Achternaam)
                @Html.DisplayFor(model => model.Deelnemer.Speler.Bondsnummer)
            </dd>

            <dt>
                Speler 2
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Deelnemer1.Speler.Voornaam) @Html.DisplayFor(model => model.Deelnemer1.Speler.Achternaam)
                @Html.DisplayFor(model => model.Deelnemer1.Speler.Bondsnummer)


            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Tafel.Tafelnummer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tafel.Tafelnummer)
            </dd>

          
        </dl>
    </div>
    @Html.Partial("MatchSet", GameSets)
    <div id="score">
        @using (Html.BeginForm())
        {

            @Html.HiddenFor(model => model.ToernooiID)
            @Html.HiddenFor(model => model.Toernooicategorie.Toernooi.GewonnenGames)
            @Html.HiddenFor(model => model.Toernooicategorie.Toernooi.Puntentelling)
            @Html.HiddenFor(model => model.SchemaDeel)
            @Html.HiddenFor(model => model.CategorieID)
            @Html.HiddenFor(model => model.WedstrijdID)

            <div class="ScoreButton">
                <h2>Speler 1</h2>
                <input class=" btn btn-danger" type="submit" value="-1" name="Punten1" />
                <input class=" btn btn-success" type="submit" value="1" name="Punten1" />

            </div>
            <div class="ScoreButton">
                <h2>Speler 2</h2>
                <input class=" btn btn-danger" type="submit" value="-1" name="Punten2" />
                <input class=" btn btn-success" type="submit" value="1" name="Punten2" />.


            </div>
        }

    </div>
</div>

@if (ViewBag.Winnaar)
{
    <div id="Winnaar">
        <script>

            (function () {
                var doc = document.getElementById("wedstijdenScores");
                doc.className = "blur"
                var doc1 = document.getElementById("Winnaar");
                doc1.className = "noBlur"

            })();
        </script>

        @if (@Html.DisplayFor(model => model.Winnaar) == @Html.DisplayFor(model => model.Deelnemer.Speler.SpelerID))
        {
            <h4>De winnaar is @Html.DisplayFor(model => model.Deelnemer.Speler.Voornaam) @Html.DisplayFor(model => model.Deelnemer.Speler.Bondsnummer)</h4>
        }
        else
        {
            <h4>De winnaar is @Html.DisplayFor(model => model.Deelnemer1.Speler.Voornaam) @Html.DisplayFor(model => model.Deelnemer1.Speler.Bondsnummer)</h4>
        }
        <button class="btn btn-danger" id="WinnaarBtnAnnuleer">Annuleer</button>
        <button class="btn btn-success" id="WinnaarBtnGo">@Html.ActionLink("Terug naar lijst", "Index")</button>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

    <script src="~/Scripts/wedstrijden.js"></script>
}
