﻿@model IEnumerable<NTTB_GELRE.Models.Wedstrijd>
@using NTTB_GELRE.Controllers;

<div class="toernooiGrootScherm">
    <h2>Toernooi Overzicht</h2>
    <table class="table ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Begintijd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tafelnummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speler1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speler2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategorieID)
            </th>
            <th>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            @Html.HiddenFor(modelItem => item.WedstrijdID)
            @Html.HiddenFor(modelItem => item.ToernooiID)
            @Html.HiddenFor(modelItem => item.SchemaDeel)
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Begintijd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tafelnummer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speler1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speler2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategorieID)
                </td>
                <td>
                    <button class="btn btn-success">  @Html.ActionLink("Kies", "Score", new { id = item.WedstrijdID, idCat = item.CategorieID, tID = item.ToernooiID })</button>   
                </td>
            </tr>
        }
    </table>
</div>

@*<!-- Static navbar -->
<div class="navbar navbar-inverse ToernooiBar" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Toernooi</a>
    </div>
    <div class="navbar-collapse1 collapse">
        <ul class="nav navbar-nav ToernooiBarUL">
            @foreach (var item in Model)
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Html.DisplayFor(modelItem => item.Toernooinaam) <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        @foreach (var i in item.Tafel)
                        {
                            <li>
                                @Html.ActionLink("Tafel " + @Convert.ToString(i.Tafelnummer), "Edit", new { id = i.Tafelnummer })
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>

    </div><!--/.nav-collapse -->
</div>*@

@*<link href="~/Content/smartmenu/jquery.smartmenus.bootstrap.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

<script src="~/Scripts/smartmenu/jquery.smartmenus.bootstrap.min.js"></script>
<script src="~/Scripts/smartmenu/jquery.smartmenus.js"></script>

<!-- SmartMenus jQuery plugin -->
<script type="text/javascript" src="../jquery.smartmenus.js"></script>

<!-- SmartMenus jQuery Bootstrap Addon -->
<script type="text/javascript" src="../addons/bootstrap/jquery.smartmenus.bootstrap.js"></script>*@



