﻿@model IEnumerable<NTTB_GELRE.Models.Categorie>
@using NTTB_GELRE.Models
<h2>Kies een categorie</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Leeftijdsgroep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subcategorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnkelDubbel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geslacht)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Niveau)
            </th>
            <th></th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Leeftijdsgroep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subcategorie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnkelDubbel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geslacht)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Niveau)
            </td>
            <td>
    
                @Html.DropDownList("Toernooivorm", null, htmlAttributes: new { @class = "form-control" })
            </td>
            <td>
             <button class="btn btn-success">@Html.ActionLink("+", "create", "ToernooiSchema", new { CategorieID = item.CategorieID, ToernooiID = @ViewBag.ToernooiID, tsid = 8, Toernooivorm = "Poule"}, null) </button> 
             @*<button class="btn btn-danger">@Html.ActionLink("x", "RemoveCatOfDeelschema", new { id = item.CategorieID }) </button>*@          
          
            </td>
        </tr>
    }
    
    </table>
