﻿@model NTTB_GELRE.Models.Categorie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Categorie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Leeftijdsgroep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Leeftijdsgroep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subcategorie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subcategorie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnkelDubbel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnkelDubbel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Geslacht)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Geslacht)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Niveau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Niveau)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategorieID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
