﻿@model IEnumerable<NTTB_GELRE.Models.Categorie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Leeftijdsgroep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subcategorie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnkelDubbel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Geslacht)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Niveau)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Leeftijdsgroep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subcategorie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnkelDubbel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Geslacht)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Niveau)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategorieID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategorieID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategorieID })
        </td>
    </tr>
}

</table>
