﻿@model NTTB_GELRE.Models.UserModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Inloggen gefaald, Check uw inloggegevens");
    <div class="row">
        <div class="col-md-8">
            <fieldset id="loginForm">
                <legend>Inloggen</legend>
                <div class="form-group">
                    @Html.LabelFor(u => u.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(u => u.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(u => u.Wachtwoord, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(u => u.Wachtwoord, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Wachtwoord, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Inloggen" class="btn btn-default" />
                        @Html.ActionLink("Registreren", "Registration", "User")
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
}
