﻿@model NTTB_GELRE.Models.WerknemerUserModel
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registreer werknemer</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Registreren gebruiker gefaald. Check uw gegevens");
    <div class="row">
        <div class="col-md-8">
            <fieldset id="loginForm">
                <legend>Inloggen</legend>
                <div class="form-group">
                    @Html.LabelFor(u => u.Voornaam, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(u => u.Voornaam, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Voornaam, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(u => u.Tussenvoegsel, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(u => u.Tussenvoegsel, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Tussenvoegsel, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(u => u.Achternaam, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(u => u.Achternaam, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Achternaam, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(u => u.Telefoon, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(u => u.Telefoon, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Telefoon, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(u => u.Rol, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownList("rol", null, htmlAttributes:new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Rol, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(u => u.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(u => u.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(u => u.Wachtwoord, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(u => u.Wachtwoord, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Wachtwoord, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!--Herhaal wachtwoord-->
                <div class="form-group">
                    @Html.LabelFor(u => u.Herhaal, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(u => u.Herhaal, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Herhaal, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Registreren" class="btn btn-default" />
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
}

