﻿@model NTTB_GELRE.Models.SpelerUserModel
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registreer speler</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Registreren gebruiker gefaald. Check uw gegevens");
    <div class="row">
        <div class="col-md-8">
            <fieldset id="loginForm">
                <legend>Inloggen</legend>
                <div class="form-group">
                    @Html.LabelFor(u => u.Voornaam, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(u => u.Voornaam, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Voornaam, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(u => u.Tussenvoegsel, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(u => u.Tussenvoegsel, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Tussenvoegsel, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(u => u.Achternaam, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(u => u.Achternaam, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Achternaam, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(u => u.Geslacht, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownList("geslacht", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Geslacht, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Geboortedatum, "Geboortedatum", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Geboortedatum, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        @Html.ValidationMessageFor(model => model.Geboortedatum, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(u => u.Telefoon, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(u => u.Telefoon, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Telefoon, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(u => u.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(u => u.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(u => u.Wachtwoord, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(u => u.Wachtwoord, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Wachtwoord, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!--Herhaal wachtwoord-->
                <div class="form-group">
                    @Html.LabelFor(u => u.Herhaal, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(u => u.Herhaal, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Herhaal, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- Bondgegevens-->
                <div class="form-group">
                    @Html.LabelFor(u => u.Bondsnummer, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(u => u.Bondsnummer, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Bondsnummer, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(u => u.Licentie, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(u => u.Licentie, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Licentie, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(u => u.Punten, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(u => u.Punten, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Punten, "", new { @class = "text-danger" })
                    </div>
                </div>
              
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Registreren" class="btn btn-default" />
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
}

