﻿@model IEnumerable<NTTB_GELRE.Models.Toernooischema>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Deelname.css" rel="stylesheet" />

<h2>Index</h2>


@foreach (var item in Model)
{

    <td>
        @Html.DisplayFor(modelItem => item.Toernooivorm)
    </td>

}

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AantalPoules)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AantalDoor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AantalRondes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categorie.Leeftijdsgroep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Toernooi.Locatienaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Toernooivorm1.Toernooivorm1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AantalPoules)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AantalDoor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AantalRondes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categorie.Leeftijdsgroep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Toernooi.Locatienaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Toernooivorm1.Toernooivorm1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>*@



