﻿@model NTTB_GELRE.Models.Toernooischema

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Toernooischema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AantalPoules)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AantalPoules)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AantalDoor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AantalDoor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AantalRondes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AantalRondes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categorie.Leeftijdsgroep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie.Leeftijdsgroep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Toernooi.Locatienaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toernooi.Locatienaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Toernooivorm1.Toernooivorm1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toernooivorm1.Toernooivorm1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
