﻿@model NTTB_GELRE.Models.Toernooischema

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Toernooischema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AantalPoules)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AantalPoules)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AantalDoor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AantalDoor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AantalRondes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AantalRondes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categorie.Leeftijdsgroep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie.Leeftijdsgroep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Toernooi.Locatienaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toernooi.Locatienaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Toernooivorm1.Toernooivorm1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toernooivorm1.Toernooivorm1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
