<<<<<<< HEAD
﻿@model NTTB_GELRE.Models.SchemaDetails
=======
﻿@model NTTB_GELRE.Models.Toernooi
>>>>>>> 7bc8efd4806e9220f5f9d95b78851a42dcfb1e89

@{
    ViewBag.Title = "Index";
}
<<<<<<< HEAD
@*<link href="~/Content/Deelname.css" rel="stylesheet" />*@

<h2>Toernooischema's instellen</h2>

<h4>
    Hier worden voor elke categorie binnen het toernooi de instellingen bepaald. Voor elke categorie kan worden aangegeven
    welke toernooivorm wordt gebruikt, begonnen wordt met de toernooivorm die gekozen is bij het aanmaken van het toernooi.
    Voor elke categorie moet bovendien worden aangegeven hoeveel poules er zijn en hoeveel spelers er per poule doorgaan
    naar de volgende ronde, bij een poule-systeem, en hoeveel rondes een toernooi beslaat, bij een zwitsers systeem.
</h4>
<p></p>
<h3>
    Voor het hele toernooi
</h3>
<h4>
    Kies hier een toernooivorm die geldt voor het hele toernooi en/of selecteer hoeveel spelers er normaal in een poule horen
    te zitten en hoeveel er door zullen gaan.
    Door op 'Instellen' te drukken zullen deze instellingen gebruikt worden voor het gehele toernooi. Wanneer een toernooivorm
    te weinig deelnemers heeft voor een bepaalde toernooivorm kan deze worden aangepast wanneer een aantal spelers per poule
    is ingevuld.
</h4>
<div class="topLine"></div>
<div class="toernooischemaPlanBox">
    <p id="totaalwedstrijden_@ViewData["ToernooiID"]">Totaal wedstrijden: @ViewData["TotaalWedstrijden"]</p>
    <p>
        Maximum wedstrijden: @ViewData["MaximumWedstrijden"]
        <input class="btn btn-success" type="button" name="wedstrijdeninplannen_@ViewData["ToernooiID"]" id="wedstrijdeninplannen_@ViewData["ToernooiID"]" value="Wedstrijden Inplannen" />
    </p>
</div>
<table class="toernooischemaTableTop">
    <tr>
        <td>
            <h3>Kies een toernooivorm</h3>
        </td>
        <td></td>
        <td></td>
        <td><h3>Standaardinstellingen poules</h3></td>


    </tr>
    <tr>
        <td>
            @Html.DropDownList("toernooivormen_" + ViewData["ToernooiID"], (SelectList)ViewBag.toernooivormen, "", htmlAttributes: new { @class = "form-control" })
        </td>
        <td></td>
        <td></td>
        <td>
            <label for="spelersdoor_@ViewData["ToernooiID"]"> Aantal spelers door per poule: </label>
            <input class="form-control" type="text" name="spelersdoor_@ViewData["ToernooiID"]" id="spelersdoor_@ViewData["ToernooiID"]" />
        </td>
    
    </tr>
    <tr>
        <td>
            <p id="toernooivorm_@ViewData["ToernooiID"]_1"></p>
        </td>
        <td>
            <input type="button" name="button_@ViewData["ToernooiID"]_1" id="button_@ViewData["ToernooiID"]_1" class="closeBtnToernooivorm" value="X" style="display: none;" />
        </td>
        <td></td>
        <td>
            <label for="spelersdoor_@ViewData["ToernooiID"]">Aantal spelers door per poule: </label>
            <input class="form-control" type="text" name="spelersdoor_@ViewData["ToernooiID"]" id="spelersdoor_@ViewData["ToernooiID"]" />
        </td>
    
    </tr>
    <tr>
        <td>
            <p id="toernooivorm_@ViewData["ToernooiID"]_2"></p>
        </td>
        <td>
            <input type="button" name="button_@ViewData["ToernooiID"]_2" id="button_@ViewData["ToernooiID"]_2" class="closeBtnToernooivorm" value="X" style="display: none;" />
        </td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td>
            <p id="toernooivorm_@ViewData["ToernooiID"]_3"></p>
        </td>
        <td>
            <input type="button" name="button_@ViewData["ToernooiID"]_3" id="button_@ViewData["ToernooiID"]_3" class="closeBtnToernooivorm" value="X" style="display: none;" />
        </td>
        <td></td>
        <td></td>
     
    </tr>
    <tr>
        <td>
            <input class="btn btn-default" type="button" name="instellentoernooivorm_@ViewData["ToernooiID"]_1" id="instellentoernooivorm_@ViewData["ToernooiID"]_1" value="Instellen" />
        </td>
        <td></td>
        <td></td>
        <td>
            <input class="btn btn-default" type="button" name="instellenstandaard_@ViewData["ToernooiID"]_2" id="instellenstandaard_@ViewData["ToernooiID"]_2" value="Instellen" />
        </td>
     
    </tr>
</table>

<div class="topLineTable"></div>


@foreach (var item in ViewBag.ToernooiSchema1)
{
    <table class="toernooischemaTable">
        <tr>
            <td>
                <p>
                    @if (item.Geslacht == "M")
                    {
                        <span>Heren</span>
                    }
                    else
                    {
                        <span>Vrouwen</span>
                    }
                    @item.Subcategorie @item.EnkelDubbel @item.Niveau
                </p>
            </td>
            <td>
                @{
    string idlist = "toernooivormen_" + item.ToernooiID + "_" + item.CategorieID;
                }
                @Html.DropDownList(idlist, (SelectList)ViewBag.toernooivormen, "", htmlAttributes: new { @class = "form-control" })
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <p>@item.Deelnemers Deelnemers</p>
            </td>
            <td>
                <p id="toernooivorm_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)">@item.Toernooivorm1</p>
            </td>
            <td>
                @if (item.Toernooivorm2 == "" || item.Toernooivorm2 == null)
                {
                    <input type="button" name="button_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)" id="button_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)" class="closeBtnToernooivorm" value="X" />
                }
                else
                {
                    <input type="button" name="button_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)" id="button_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)" class="closeBtnToernooivorm" value="X" style="display:none;" />
                }
            </td>
            <td>
                @if (item.Toernooivorm1 == "Poule")
                {
                    <p id="toernooipoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)">Aantal Poules</p>
                    <p id="toernooirondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)" style="display:none;">Aantal Rondes</p>
                }
                else if (item.Toernooivorm1 == "Zwitsers")
                {
                    <p id="toernooipoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)" style="display:none;">Aantal Poules</p>
                    <p id="toernooirondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)">Aantal Rondes</p>
                }
                else
                {
                    <p id="toernooipoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)" style="display:none;">Aantal Poules</p>
                    <p id="toernooirondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)" style="display:none;">Aantal Rondes</p>
                }
            </td>
            <td>
                @if (item.Toernooivorm1 == "Poule")
                {
                    <input class="form-control" type="text" name="aantalpoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)" id="aantalpoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)" value=@item.AantalPoules1 />
                    <input class="form-control" type="text" name="aantalrondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)" id="aantalrondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)" value=@item.AantalRondes1 style="display:none;" />
                }
                else if (item.Toernooivorm1 == "Zwitsers")
                {
                    <input class="form-control" type="text" name="aantalpoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)" id="aantalpoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)" value=@item.AantalPoules1 style="display:none;" />
                    <input class="form-control" type="text" name="aantalrondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)" id="aantalrondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)" value=@item.AantalRondes1 />
                }
                else
                {
                    <input class="form-control" type="text" name="aantalpoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)" id="aantalpoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)" value=@item.AantalPoules1 style="display:none;" />
                    <input class="form-control" type="text" name="aantalrondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)" id="aantalrondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)" value=@item.AantalRondes1 style="display:none;" />

                }
            </td>
            <td>
                @if (item.Toernooivorm1 == "Poule")
                {
                    <p id="toernooidoor_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)">Aantal Door</p>
                }
                else
                {
                    <p id="toernooidoor_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)" style="display:none;">Aantal Door</p>
                }
            </td>
            <td>
                @if (item.Toernooivorm1 == "Poule")
                {
                    <input class="form-control" type="text" name="aantaldoor_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)" id="aantaldoor_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)" value=@item.AantalDoor1 />
                }
                else
                {
                    <input class="form-control" type="text" name="aantaldoor_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)" id="aantaldoor_@(item.ToernooiID + "_" + item.CategorieID + "_" + 1)" value=@item.AantalDoor1 style="display:none;" />
                }
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <p id="aantalwedstrijden_@(item.ToernooiID + "_" + item.CategorieID)">@item.Wedstrijden Wedstrijden</p>
                <p>
            </td>
            <td>
                <p id="toernooivorm_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)">@item.Toernooivorm2</p>
            </td>
            <td>
                @if (item.Toernooivorm2 != null && item.Toernooivorm2 != "" && item.Toernooivorm3 == null || item.Toernooivorm3 == "")
                {
                    <input type="button" name="button_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)" id="button_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)" class="closeBtnToernooivorm" value="X" />
                }
                else
                {
                    <input type="button" name="button_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)" id="button_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)" class="closeBtnToernooivorm" value="X" style="display:none;" />
                }
            </td>
            <td>
                @if (item.Toernooivorm2 == "Poule")
                {
                    <p id="toernooipoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)">Aantal Poules</p>
                    <p id="toernooirondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)" style="display:none;">Aantal Rondes</p>
                }
                else if (item.Toernooivorm2 == "Zwitsers")
                {
                    <p id="toernooipoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)" style="display:none;">Aantal Poules</p>
                    <p id="toernooirondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)">Aantal Rondes</p>
                }
                else
                {
                    <p id="toernooipoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)" style="display:none;">Aantal Poules</p>
                    <p id="toernooirondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)" style="display:none;">Aantal Rondes</p>
                }
            </td>
            <td>
                @if (item.Toernooivorm2 == "Poule")
                {
                    <input class="form-control" type="text" name="aantalpoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)" id="aantalpoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)" value=@item.AantalPoules2 />
    <input class="form-control" type="text" name="aantalrondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)" id="aantalrondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)" value=@item.AantalRondes2 style="display:none;" />
                }
                else if (item.Toernooivorm2 == "Zwitsers")
                {
                    <input class="form-control" type="text" name="aantalpoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)" id="aantalpoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)" value=@item.AantalPoules2 style="display:none;" />
    <input class="form-control" type="text" name="aantalrondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)" id="aantalrondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)" value=@item.AantalRondes2 />
                }
                else
                {
                    <input class="form-control" type="text" name="aantalpoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)" id="aantalpoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)" value=@item.AantalPoules2 style="display:none;" />
    <input class="form-control" type="text" name="aantalrondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)" id="aantalrondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)" value=@item.AantalRondes2 style="display:none;" />

                }
            </td>
            <td>
                @if (item.Toernooivorm2 == "Poule")
                {
                    <p id="toernooidoor_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)">Aantal Door</p>
                }
                else
                {
                    <p id="toernooidoor_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)" style="display:none;">Aantal Door</p>
                }
            </td>
            <td>
                @if (item.Toernooivorm2 == "Poule")
                {
                    <input class="form-control" type="text" name="aantaldoor_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)" id="aantaldoor_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)" value=@item.AantalDoor2 />
                }
                else
                {
                    <input class="form-control" type="text" name="aantaldoor_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)" id="aantaldoor_@(item.ToernooiID + "_" + item.CategorieID + "_" + 2)" value=@item.AantalDoor2 style="display:none;" />
                }
            </td>

            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <p id="toernooivorm_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)">@item.Toernooivorm3</p>
            </td>
            <td>
                @if (item.Toernooivorm3 != null && item.Toernooivorm3 != "")
                {
                    <input class="form-control" type="button" name="button_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)" id="button_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)" class="closeBtnToernooivorm" value="X" />
                }
                else
                {
                    <input class="form-control" type="button" name="button_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)" id="button_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)" class="closeBtnToernooivorm" value="X" style="display:none;" />
                }
            </td>
            <td>
                @if (item.Toernooivorm3 == "Poule")
                {
                    <p id="toernooipoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)">Aantal Poules</p>
                    <p id="toernooirondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)" style="display:none;">Aantal Rondes</p>
                }
                else if (item.Toernooivorm3 == "Zwitsers")
                {
                    <p id="toernooipoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)" style="display:none;">Aantal Poules</p>
                    <p id="toernooirondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)">Aantal Rondes</p>
                }
                else
                {
                    <p id="toernooipoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)" style="display:none;">Aantal Poules</p>
                    <p id="toernooirondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)" style="display:none;">Aantal Rondes</p>
                }
            </td>
            <td>
                @if (item.Toernooivorm3 == "Poule")
                {
                    <input class="form-control" type="text" name="aantalpoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)" id="aantalpoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)" value=@item.AantalPoules3 />
    <input class="form-control" type="text" name="aantalrondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)" id="aantalrondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)" value=@item.AantalRondes3 style="display:none;" />
                }
                else if (item.Toernooivorm3 == "Zwitsers")
                {
                    <input class="form-control" type="text" name="aantalpoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)" id="aantalpoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)" value=@item.AantalPoules3 style="display:none;" />
    <input class="form-control" type="text" name="aantalrondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)" id="aantalrondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)" value=@item.AantalRondes3 />
                }
                else
                {
                    <input class="form-control" type="text" name="aantalpoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)" id="aantalpoules_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)" value=@item.AantalPoules3 style="display:none;" />
    <input class="form-control" type="text" name="aantalrondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)" id="aantalrondes_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)" value=@item.AantalRondes3 style="display:none;" />

                }
            </td>
            <td>
                @if (item.Toernooivorm3 == "Poule")
                {
                    <p id="toernooidoor_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)">Aantal Door</p>
                }
                else
                {
                    <p id="toernooidoor_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)" style="display:none;">Aantal Door</p>
                }
            </td>
            <td>
                @if (item.Toernooivorm3 == "Poule")
                {
                    <input class="form-control"  type="text" name="aantaldoor_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)" id="aantaldoor_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)" value=@item.AantalDoor3 />
                }
                else
                {
                    <input class="form-control" type="text" name="aantaldoor_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)" id="aantaldoor_@(item.ToernooiID + "_" + item.CategorieID + "_" + 3)" value=@item.AantalDoor3 style="display:none;" />
                }
            </td>


            <td><input class="btn btn-success" type="button" name="opslaan_@(item.ToernooiID + "_" + item.CategorieID)" id="opslaan_@(item.ToernooiID + "_" + item.CategorieID)" value="Opslaan" /></td>
            <td></td>

        </tr>

    </table>
    <div class="middleLineTable"></div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script src="Script/jquery-1.11.0.min.js" type="text/javascript"></script>

    <script src="~/Scripts/toernooischema.js"></script>
}
=======
<link href="~/Content/Deelname.css" rel="stylesheet" />

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    


@foreach (var item in ViewBag.ToernooiSchema1)
{
    <tr>
        <td>
            <p>
                @if (item.Geslacht == "M")
                {
                    <span>Heren</span>
                }
                else
                {
                    <span>Vrouwen</span>
                }
                @item.Subcategorie @item.EnkelDubbel @item.Niveau
            </p>
            <p>@item.Deelnemers Deelnemers</p>
            <p>Wedstrijden</p>
        </td>
    </tr>
    <tr>

            @Html.Partial("_ToernooischemaVormen", Model.Deelnemer.Toernooischema)

    </tr>
}

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AantalPoules)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AantalDoor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AantalRondes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categorie.Leeftijdsgroep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Toernooi.Locatienaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Toernooivorm1.Toernooivorm1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AantalPoules)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AantalDoor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AantalRondes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categorie.Leeftijdsgroep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Toernooi.Locatienaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Toernooivorm1.Toernooivorm1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>*@
}

</table>
>>>>>>> 7bc8efd4806e9220f5f9d95b78851a42dcfb1e89
