﻿@model NTTB_GELRE.Models.Speler

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Speler</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Voornaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voornaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tussenvoegsel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tussenvoegsel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Achternaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Achternaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bondsnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bondsnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Geboortedatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Geboortedatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Geslacht)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Geslacht)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mailadres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mailadres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefoonnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefoonnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Licentie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Licentie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Punten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Punten)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SpelerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
