﻿@model NTTB_GELRE.Models.Speler

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Speler</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.SpelerID)

        <div class="form-group">
            @Html.LabelFor(model => model.Voornaam, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Voornaam)
                @Html.ValidationMessageFor(model => model.Voornaam)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tussenvoegsel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tussenvoegsel)
                @Html.ValidationMessageFor(model => model.Tussenvoegsel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Achternaam, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Achternaam)
                @Html.ValidationMessageFor(model => model.Achternaam)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bondsnummer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bondsnummer)
                @Html.ValidationMessageFor(model => model.Bondsnummer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Geboortedatum, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Geboortedatum)
                @Html.ValidationMessageFor(model => model.Geboortedatum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Geslacht, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Geslacht)
                @Html.ValidationMessageFor(model => model.Geslacht)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mailadres, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mailadres)
                @Html.ValidationMessageFor(model => model.Mailadres)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefoonnummer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefoonnummer)
                @Html.ValidationMessageFor(model => model.Telefoonnummer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Licentie, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Licentie)
                @Html.ValidationMessageFor(model => model.Licentie)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Punten, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Punten)
                @Html.ValidationMessageFor(model => model.Punten)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
