﻿@model IEnumerable<NTTB_GELRE.Models.Toernooi>

@{
    ViewBag.Title = "Toernooilijst";
}

<link href="~/Content/Deelname.css" rel="stylesheet" />

<h2>Toernooilijst</h2>

<p>Hieronder een lijst van alle toernooien waarvoor ingeschreven kan worden.</p>
<p>Klik op de tekst 'inschrijven' om voor het desbetreffende toernooi in te schrijven.</p>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Toernooinaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Begindatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Einddatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EindInschrijving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InschrijfgeldEnkel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InschrijfgeldDubbel)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Toernooinaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Begindatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Einddatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EindInschrijving)
            </td>
            <td>
                € @Html.DisplayFor(modelItem => item.InschrijfgeldEnkel)
            </td>
            <td>
                € @Html.DisplayFor(modelItem => item.InschrijfgeldDubbel)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Toernooi", new { id = item.ToernooiID }, new { @class = "btn btn-default" })
            </td>
           
            
            <td>
                @Html.ActionLink("Inschrijven", "Inschrijven", new { id = item.ToernooiID }, new { @class = "btn btn-default" })
            </td>

        </tr>
    }

</table>






