﻿@model IEnumerable<NTTB_GELRE.Models.Speler>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Voornaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tussenvoegsel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Achternaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bondsnummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Geboortedatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Geslacht)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mailadres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefoonnummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Licentie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Punten)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Voornaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tussenvoegsel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Achternaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bondsnummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Geboortedatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Geslacht)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mailadres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefoonnummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Licentie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Punten)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SpelerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SpelerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SpelerID })
        </td>
    </tr>
}

</table>
