﻿@model NTTB_GELRE.Models.InschrijvingFamilie

@{
    ViewBag.Title = "Inschrijvig familietoernooi";
}

<link href="~/Content/Deelname.css" rel="stylesheet" />

<h2>Inschrijving familietoernooi</h2>

<h3>@ViewBag.toernooinaam</h3>

<h3>@ViewBag.Error</h3>

@using (Html.BeginForm("InschrijvenFamilie","Deelname")) 
{
    
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.ToernooiID, new { @Value = @ViewBag.toernooiID });

    <div class="form-horizontal" role="form">

        <hr />
        @Html.ValidationSummary(true)

        <div class="InschrijvenCreateLeft">

            <h4>Algemene gegevens</h4><br />

            @*Voornaam*@
            <div class="form-group">
                @Html.LabelFor(model => model.Voornaam, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Voornaam, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Voornaam, "", new { @class = "text-danger" })
                </div>
            </div>

            @*Tussenvoegsel*@
            <div class="form-group">
                @Html.LabelFor(model => model.Tussenvoegsel, new { @class = "control-label col-md-4" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Tussenvoegsel, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tussenvoegsel, "", new { @class = "text-danger" })
                </div>
            </div>

            @*Achternaam*@
            <div class="form-group">
                @Html.LabelFor(model => model.Achternaam, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Achternaam, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Achternaam, "", new { @class = "text-danger" })
                </div>
            </div>

            @*Geboortedatum*@
            <div class="form-group">
                @Html.LabelFor(model => model.Geboortedatum, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Geboortedatum, new { htmlAttributes = new { @class = "form-control datepicker" } })
                    @Html.ValidationMessageFor(model => model.Geboortedatum, "", new { @class = "text-danger" })
                </div>
            </div>

            @*Geslacht*@
            <div class="form-group">
                @Html.LabelFor(model => model.Geslacht, new { @class = "control-label col-md-4" })
                <div class="col-md-5">
                    @Html.DropDownList("geslacht", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Geslacht, "", new { @class = "text-danger" })
                </div>
            </div>

            @*Mailadres*@
            <div class="form-group">
                @Html.LabelFor(model => model.Mailadres, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Mailadres, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Mailadres, "", new { @class = "text-danger" })
                </div>
            </div>

            @*Telefoonnummer*@
            <div class="form-group">
                @Html.LabelFor(model => model.Telefoonnummer, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Telefoonnummer, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Telefoonnummer, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>


        <div class="InschrijvenCreateRight">

            @*Categorieen*@
            <br />
            <h4>Categorieën</h4>
            <div class="form-group">
        
                @Html.Label("Categorieën", new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <p>Enkel:@Html.CheckBoxFor(model => model.Enkel, false)</p>
                    <p>Dubbel:@Html.CheckBoxFor(model => model.Dubbel, false)</p>
                </div>
            </div>

            @*Partner*@
            <div class="form-group">
                @Html.LabelFor(model => model.Partner, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Partner, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Partner, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div class="InschrijvenCreate">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Inschrijven" class="btn btn-default" />
                </div>
            </div>
            @Html.ActionLink("Terug naar lijst", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>

}

            
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

    <script src="~/Scripts/deelname.js"></script>

}
