﻿@{
    ViewBag.Title = "Inschrijvig voltooid";
}


<h2>Inschrijving voltooid</h2>

<p>U bent succesvol ingeschreven voor deze toernooi</p>

@Html.ActionLink("Terug naar de hoofdpagina", "Index", "Home")

