﻿@model NTTB_GELRE.Models.InschrijvingLid

@{
    ViewBag.Title = "Inschrijvig toernooi";
}

<link href="~/Content/Deelname.css" rel="stylesheet" />

<h2>Inschrijving toernooi</h2>

<h3>@ViewBag.toernooinaam</h3>

<h3>@ViewBag.Error</h3>


@if (ViewBag.maxInschrijvingenBereikt == true)
{
    <p>Het maximum aantal inschrijvingen is bereikt.</p>
    <p>Klik <u>@Html.ActionLink("hier", "Index", "Deelname")</u> om terug te gaan naar de inschrijfpagina</p>
}
else if (Session["spelerID"] == null)
{
    <p>U moet ingelogd zijn om voor dit toernooi aan te melden.</p>
    <p>Klik <u>@Html.ActionLink("hier", "Login", "User")</u> om in te loggen</p>
}
else if (ViewBag.alIngeschreven > 0)
{
    <p>U bent al ingeschreven voor deze toernooi.</p>
    <p>Klik <u>@Html.ActionLink("hier", "Index", "Deelname")</u> om terug te gaan naar de inschrijfpagina</p>
}
else if (ViewBag.Leeftijdscategorie == false)
{
    <p>U mag zich niet opgeven voor deze leeftijdscategorie</p>
    <p>Klik <u>@Html.ActionLink("hier", "Index", "Deelname")</u> om terug te gaan naar de inschrijfpagina</p>
    <p>Uw leeftijdcategorie: @ViewBag.LeeftijdSpeler</p>
    <p>Toernooi leeftijdcategorie: @ViewBag.LeeftijdToernooi</p>
}
else
{

    using (Html.BeginForm("InschrijvenLid", "Deelname"))
    {

        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ToernooiID, new { @Value = @ViewBag.toernooiID });
        @Html.HiddenFor(model => model.SpelerID, new { @Value = Session["spelerID"] });
    
        <div class="form-horizontal" role="form">

            <hr />
            @Html.ValidationSummary(true)

            <div class="InschrijvenCreateLeft">


                @*Categorieen*@
                <br />
                <h4>Categorieën</h4>
                <div class="form-group">

                    @Html.Label("Categorieën", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <p>Enkel:@Html.CheckBoxFor(model => model.Enkel, false)</p>
                        <p>Dubbel:@Html.CheckBoxFor(model => model.Dubbel, false)</p>
                    </div>
                </div>

                @*Partner*@
                <div class="form-group">
                    @Html.LabelFor(model => model.Partner, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Partner, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Partner, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

            <div class="InschrijvenCreate">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Inschrijven" class="btn btn-default" />
                    </div>
                </div>
                @Html.ActionLink("Terug naar lijst", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>

    }
}
            
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

    <script src="~/Scripts/deelname.js"></script>

}
