﻿
/*TOERNOOILijST*/

.ToernooiLijstCreate {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    clear:both;
    padding-top:40px;
}

.ToernooiLijstCreateLeft {
    width: 50%;
    float: left;
    border-right: 1px solid black;
    padding-right: 10%;
}

.ToernooiLijstCreateRight {
    float:left;
    width:50%;
    padding-left:10%;
}


/*INSCHRIJVEN*/

.InschrijvenCreate {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    clear:both;
}
.InschrijvenCreate button {
float:left;
}
.InschrijvenCreate input {
float:right;
}
.InschrijvenCreateLeft {
    width: 50%;
    float: left;
    border-right: 1px solid black;
    padding-right: 10%;
}

.InschrijvenCreateRight {
    float:left;
    width:50%;
    padding-left:10%;
}

#button1, #button2 {
    display: none;
}

#Categorie1 {
    width:0px;
    height:0px;
    opacity:0;
}
