﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background:url(/Content/Images/background.jpg)no-repeat center top;background-attachment:fixed;
 
     max-width:1920px !important;
}
#wedstijdenScores{
}
.blur{
-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
}
.noBlur{
  -moz-filter: blur(0px) !important;
  -o-filter: blur(0px)!important;
  filter: blur(0px)!important;

}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-inverse{
    background-color:#FF6633 !important;
    color: white !important;

}
.closeBtn{
    float:right;
}
.btnWhiteText a:hover, a:active, a:link, a:visited{
    color:black !important;
}
.btnWhiteText button{
float:left;
margin-right:2px;
}
.navbar-nav>li>a{
        color: white !important;  
}
#screen{
     
    margin-top:0%;
    padding-top:30px;
    min-height:80vh;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    background: rgba(224,224,224,0.8);
    padding-bottom:5%;

}
.navbar{
        position:absolute;
        margin-top:2%;
        width:80%;
        margin-left:auto;
        margin-right:auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
}
.navbarHomeImage{
     margin-top:7px;
     background: url(../Content/Images/home_icon.png) no-repeat center ;
     display: block;
}
#welkomLogin{
margin-top: 15px;

}
.bottomBanner{
        width:80%;
        margin-top:-1%;
        margin-left:auto;
        margin-right:auto;
        min-height:10vh;
        background-color:#FF6633 !important;

}
#categorie{
        border:1px solid black;
        background-color:white;
        margin-left:0%;
        margin-right:20%;
        position:absolute;
        width:60%;
        max-height:40vh;
        padding-left:10px;
        padding-right:10px;
}
.bottomBanner ul {
      margin-left:auto;
      margin-right:auto;
      padding-left:10%;
      padding-right:10%;
      padding-top:2%;
     
}
.bottomBanner li {
    color:white;
    float:left;
    width:25%;

    list-style-type: none;
     
}
 .bottomBanner a:link, :visited, a:hover, a:active {
            color:white !important;
            text-decoration:none;   
    }
/*Toernooi aanmaken gemaakt door Mark Duijkers*/
.toernooiCreate{
    width:100%;
    margin-left:auto;
    margin-right:auto;
}
.toernooiCreateMiddel{
  margin-top:10vh;
    clear:both;
}
.toernooiCatEnVorm{
float:left;
width:100%;
}
.toernooiVormCreateP{
    float:left;
}
.toernooiVormCreate {
    min-height:30vh;
}
#checkbox{
    margin-top:1%;
}
#checkbox input{
   float:left;
   margin-left:6%;
}
#checkbox label{
   float:left;
}
#toernooivormen{
    float:left;
}
.group{
    width:12%;
    float:left;
    margin-right:50px;
}
.group select{
    width:100%;
    float:left;
}
.toernooiCatEnVormBtn input{
        margin-top:10%;
    float:right;
}
.toernooiCreateLeft{
    width:50%;
    float:left;
  
    padding-right:10%;

}
.toernooiCreate input{
width:80%;
float:right;
}
.toernooiCreate select {
width:40%;
float:right;
}

.toernooiCreateRight{
    float:left;
        width:50%;
         padding-left:10%;
}

.toernooiCreateButton input{
    width:120%;
}
.toernooiCreateButton {
    margin-top:10%;
    float:right;
}


#button1, #button2, #button3, #button4 {
    display: none;
}



.closeBtnToernooivorm {
     color:red;

    background: rgba(183,185,192,0.8);
    border:0px;
     text-shadow: 1px 1px 1px #FFFFFF;
     font-size:18px;
}
.wedstrijden{
        float:left;
    width:48%;
}
.GameScoreTabel{
    margin-top:1.75%;
    float:left;
    width:48%;
}
#score{
    clear:both;
  text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    min-height:50vh;
}
.ScoreButton{
    width:50%;
    min-height:20vh;
    margin-left:auto;
    margin-right:auto;
    margin-top:2%;
}

.ScoreButton input{
    border: 1px solid black;
    padding:10px;
  width:100%;
  height:20vh;
}
.wedstrijden h4{
float:left;
margin-right:20px;
}
.wedstrijdenOpgave{
    margin-left:10px;
    margin-top:4px;
    margin-bottom:-3px;
}
#Winnaar{
    position: absolute;
  background-color:#FF6633 !important;
  min-width:40vh;
  min-height:40vh;
  color: white;
  border-style: outset;
  margin-left:20vw;
  margin-right:20vw;
  margin-top:-80vh;
  

}

#Winnaar h4 {
    text-align:center;
    margin-top:4vh;
}
#Winnaar button{
    margin-top:28vh;
    margin-left:14%;
}
.toernooischemaPlanBox{
    padding:5px;
    background-color:#FF6633 !important;
     color: white;
     border-style: outset;
     width:25vw;
}

.toernooischemaPlanBox input{
   margin-bottom:-1%;
   margin-top:-16%;
   margin-left:48%;
}
.topLine{
    min-height:2px;
    margin-left:auto;  
    margin-right:auto;
    border:1px solid white;
     width:60vw;
     margin-top:40px;
     margin-bottom:20px;
}
.topLineTable{
    min-height:2px;
    border:1px dashed black;
    width:79vw;
    margin-left:-5.5%;
    margin-right:auto;
    margin-top:40px;
    margin-bottom:40px;

}
.middleLineTable{
    min-height:0.5px;
    border:1px solid white;
    min-width:40vw;
    width:60vw;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:40px;

}

.toernooischemaTableTop label{
    margin-right:1%;
  float:left;
}
.toernooischemaTableTop{  
    min-width:70vw;
    margin-top:10px;
}

.toernooischemaTable{

    min-width:70vw;
    margin-top:10px;
}



/*TOERNOOIBAR VOOR SCORE BIJHOUDEN*/
@media screen and (min-width: 770px) {
    .ToernooiBar {
        display:none;
    }

}
@media screen and (max-width: 769px) {
    .toernooiGrootScherm{
        /*display:none;*/
    }
    #welkomLogin{
        display:none;
    }
    .ToernooiBar{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        position:absolute;
        margin-left:-2.5%;
        width:80%;
        margin-right:auto;
        background-color:#FF6633 !important;
        color: black !important;
    
    }

    .ToernooiBarUL {
        margin-left:1%;
    }

#screen{
    min-height:150vh;
}

.wedstrijden{
    position:absolute;
    margin-top:100%;
    width:60%;
}
.wedstrijden dt dd{
      float:left;
    width:50%;
}
.GameScoreTabel{
    position:absolute;
    margin-top:50% !important;
    margin-top:1.75%;
    width:60%;
      margin-left:10%;
}
#score{
    clear:both;
  text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    min-height:50vh;
}
.ScoreButton{
    width:50%;
    min-height:20vh;
    margin-left:auto;
    margin-right:auto;
    margin-top:2%;
     float:left;
}

.ScoreButton input{
    border: 1px solid black;
    padding:10px;
  width:25%;
  margin-left:12.5%;
  height:20vh;
 float:left;
}
.wedstrijden h4{
float:left;
margin-right:20px;
}
.wedstrijdenOpgave{
    margin-left:10px;
    margin-top:4px;
    margin-bottom:-3px;
}
#Winnaar{
    position: absolute;
  background-color:#FF6633 !important;
  min-width:40vh;
  min-height:40vh;
  color: white;
  border-style: outset;
  margin-left:4vw;
  margin-top:-40vh;
  

}

#Winnaar h4 {
text-align:center;
    margin-top:4vh;
}
#Winnaar button{
    margin-top:28vh;
    margin-left:14%;

}

