﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="~/Content/smartmenu/jquery.smartmenus.bootstrap.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/smartmenu/jquery.smartmenus.bootstrap.min.js"></script>
    <script src="~/Scripts/smartmenu/jquery.smartmenus.js"></script>*@

  

</head>
<body>
    <div id="screen">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navbarHomeImage" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inschrijven", "Index", "Deelname")</li>
                        <li>@Html.ActionLink("Overzicht toernooien", "About", "Home")</li>
                        @if (Request.IsAuthenticated && Session["Rol"] != null)
                        {
<<<<<<< HEAD
                            if (Session["RolWerknemer"] != null)
                            {
                                if (Session["RolWerknemer"].ToString() == "Administratie" || Session["RolWerknemer"].ToString() == "Beheerder")
                            {
                             
                             <li>@Html.ActionLink("Toernooi aanmaken", "Create", "Toernooi")</li>
                            }
                                else if (Session["RolWerknemer"].ToString() == "Scheidsrechter")
                                {
                                    <li>@Html.ActionLink("Sjury", "Index", "GameScore")</li>
                                }

=======
                            if (Session["Rol"].ToString() == "Administratie")
                            { 
                                <li>@Html.ActionLink("Toernooi aanmaken", "Create", "Toernooi")</li>
                            }
                            if (Session["Rol"].ToString() == "Administratie")
                            {
                                <li>@Html.ActionLink("Inschrijvingen", "ZoekSpeler", "Spelergegevens")</li>
>>>>>>> 7bc8efd4806e9220f5f9d95b78851a42dcfb1e89
                            }

                        }
                        

                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()

        </div>
       
    </div>
    <div class="bottomBanner">
        <ul>
            <li>NTTB Gelre© 2012-2014</li>
            <li>Realisatie Dynamic Solutions</li>
        </ul>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

   

</body>
</html>
