﻿@using NTTB_GELRE.Models;

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated && Session["Rol"] != null)
{
    <ul class="nav navbar-nav navbar-right">
            <li id="welkomLogin">
                <strong> Welkom @Html.Encode(User.Identity.Name)</strong>
                @if (Session["Rol"].ToString() == "Speler")
                {
                    <li><a>@Session["SpelerId"]</a></li>
                }
            </li>
            @if (Session["Rol"].ToString() == "Beheerder")
            {
                <li>
                    @Html.ActionLink("Registreren", "RegistreerWerknemer", "User")
                </li>
            }
            @if (Session["Rol"].ToString() == "Speler")
            {
                <li>
                    @Html.ActionLink("Account", "Index", "Spelergegevens")
                </li>
            }
<<<<<<< HEAD
           
        }
=======
        
>>>>>>> 7bc8efd4806e9220f5f9d95b78851a42dcfb1e89
        <li>
            @Html.ActionLink("Uitloggen", "LogOut", "User")
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <!-- Debug -->
        <li>
            @Html.ActionLink("Registreren", "RegistreerSpeler", "User")
        </li>
        <li>
            @Html.ActionLink("Inloggen", "Login", "User")
        </li>
    </ul>
<<<<<<< HEAD
}







@*@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}*@
=======
}
>>>>>>> 7bc8efd4806e9220f5f9d95b78851a42dcfb1e89
