﻿@model IEnumerable<NTTB_GELRE.Models.Categorie>
<div id="categorie">
    @{
        if (Page.PreviousPage != null)
        {
           ViewBag.test = Page.PreviousPage.FindControl("addCar");
           if (ViewBag.test != null)
            {
                ViewBag.Text = ViewBag.test;
            }
        }
    }

    @ViewBag.toernooiID
    <button class="closeBtn btn btn-default">@Html.ActionLink("Annuleer", "Index", "Toernooi", new { }, null)</button>
    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Leeftijdsgroep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subcategorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnkelDubbel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geslacht)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Niveau)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Leeftijdsgroep)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subcategorie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnkelDubbel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Geslacht)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Niveau)
                </td>
                <td>
                @Html.ActionLink("+", "addCat", "Toernooi", new { catID = item.CategorieID}, null)           
                </td>
            </tr>
        }

    </table>
</div>